<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Duration</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{genre}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <a href="/playlist/{{../playlist.id}}/deletesong/{{id}}" class="ui icon button delsong">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" id = "rateit">
  Rate it! <i class="star icon"></i>
</button>
